* { padding: 0; margin: 0; }

html, body {
    height: 100%;

    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "ArchivoNarrow";
    src: url("../fonts/ArchivoNarrow-Regular.ttf");
}
@font-face {
    font-family:  "Montserrat_Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}


#content{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    color: white;


}

#section_0{
    background-color: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    height: 100%;
}

.plant_section{
    display: flex;
    height: auto;
    /*width: 100%;*/
}

.plant_img_wrap{
    height: 100%;
    display: block;
    width: auto;
    padding:1em;
    margin-left: 3em;
    margin-top:1.2em;
    background-color: #ee5029;
}
.plant_img{
    width:100%;
    height:100%;

}

.plant_info{
    display:flex;
    /*//height: 100%;*/
    width: 80%;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    /*background:background: rgba(0, 0, 0, 0.4) 80%;*/

}

.rollup{
    order: 0;
    flex: 0 1 auto;
    width: 100%;
    align-self: stretch;
    justify-content: space-between;
    display: flex;
    flex-direction:column;
    min-height: 100%;
    /*background-color: #435132;*/
    background-color: rgba(67, 81, 50, 0.8);
    align-items: center;




}


.rollup-header{
    align-self:stretch;
    background-color:#4f4338;
    height: 25%;
    color: white;
    font-family: Montserrat_Bold sans-serif;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#birb_vid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: url("../webbems/birbs2.jpg");
    background-size: cover;

}

.htb_name{
    font-family: "Pacifico", sans-serif;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: -23px;
}


.park_park{
    font-family: ArchivoNarrow, sans-serif;
    color:white;
}

#htb_intro{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    top: 3em;
    font-size: 45px;
    flex-direction: column;
}

#header_logo{
    width: 7em;
    height: auto;
}

.header_presents{
    font-family: sans-serif;
    font-size: 1rem;
}

#eatable_plants_header{
    font-size: 2em;
}

#nature_walk_header{

}

.scroll_arrow_wrap{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-basis: max-content;
    align-self:end;
    margin-bottom:1em;
}

.scroll_arrow{
    font-size: 75px;
}

#js_debug{
    position: fixed;
    display: block;
    top:0;
    left: 0;
    background-color: red;
    width:200px;
    height: 50px; ;
}

.common_name{

    font-family: "Montserrat_Bold", sans-serif;
    font-size: 5em;
    border-left: solid 10px #ee5029;
    margin-top:.1em;
    padding-left:.5em;
}

.sciencey_name{
    font-style: italic;
    font-family: monospace;
    font-size:1rem;
}

.plant_content_wrapper_wrapper {
background-color: transparent;
    max-width: 45em;
    display: flex;
    margin-left: 10rem;
    opacity: unset;
    flex-direction: column;
}


 .plant_content_wrapper{
     background-color: #e8c738;
     max-width: 45em;
     opacity: unset;
 }


.plant_content_header{
    background-color: transparent;
    font-family: "Montserrat_Bold", sans-serif;

}

.plant_content_header h1 {
    color: white;
    font-family: "Montserrat_Bold", sans-serif;
    background-color: #4f4338;
    padding: .5em 1em;
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;
    text-align: right;
    border: solid 1px #555;
    border-bottom: unset;
}


.plant_content{
    background-size: cover;
    padding:1.5em;
    margin: 1rem;
    margin-top:unset;
    height: max-content;
    background: #ffffff url("../pics/pattern-body.png") repeat;
    color: #000;
}

.plant_content p {
    padding-bottom: .1em;
}

@media screen and (max-width: 1200px) {

    .plant_section{
        flex-direction: column;
        align-items:center;
    }

    .plant_content_wrapper{
        max-width: unset;
    }
    .plant_info{
        width: unset;
    }
    .plant_content_wrapper_wrapper{
        max-width: unset;
        margin-left: unset;
    }
}
